<div class="container">
  <br>
   <app-upper-menu></app-upper-menu>

  <hr>

  <div class="row">
    <div class="col-sm-5">
      <app-card-item
        *ngFor="let card of cardsOnTable; let i = index"
        [card]="card"
        [index]="i"
        style="position: absolute;"></app-card-item>
    </div>
    <div class="col-sm-7">
      <img src="assets/img/cards/back/back.png" alt="fuck" style="max-height: 170px; position: relative; left: -20px">
      <app-card-item
        *ngFor="let card of cardsOnTable; let i = index"
        [card]="card"
        [index]="i"
        style="position: absolute;"></app-card-item>
    </div>
  </div>

  <hr>

      <app-lower-menu></app-lower-menu>
</div>

