<div class="container">
  <br>
  <div class="row">
    <button
      class="btn btn-success"
      type="button"
      [disabled]="deck.length === 0"
      (click)="onAddCard()">Add Card</button>
    <div style="position: relative; left: 50px">
      <h3>Summ - {{ summ }} </h3>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-sm-12" >
      <app-card-item
        *ngFor="let card of cardsOnTable; let i = index"
        [card]="card"
        [index]="i"
        style="position: absolute;"></app-card-item>
    </div>
  </div>
</div>

