<div class="container">
  <br>
  <div class="row">
    <div class="col-sm-12">
      <button class="btn btn-danger float-right" (click)="onReset()">Reset</button>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-sm-12">
      <app-card-item
        *ngFor="let card of cardsOnTable; let i = index"
        [card]="card"
        [index]="i"
        style="position: absolute;"></app-card-item>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12" style="top: 300px; position: relative;">
      <app-menu-bar></app-menu-bar>
    </div>
  </div>
</div>

