<div class="container">
  <br>
  <div class="row">
    <div class="col-sm-12">
      <button class="btn btn-danger float-right" (click)="onReset()">Reset</button>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-sm-12">
      <img src="assets/img/cards/back/back.png" alt="fuck" style="max-height: 170px">
      <app-card-item
        *ngFor="let card of cardsOnTable; let i = index"
        [card]="card"
        [index]="i"
        style="position: absolute;"></app-card-item>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-sm-12">
      <app-menu-bar></app-menu-bar>
    </div>
  </div>
</div>

